@charset "UTF-8"

html {
  background-color: black;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100%;
  padding: 0;
  margin: 0 auto;
  background-color: black;
}

.header {
    position: relative;
    top: 0;
    width: 100%;
    background-color: black;
}

.nav {
  position: fixed;
  width: 100%;
  list-style: none;
  z-index: 1000;
  text-align: right;
}

 
.nav li {
  text-align: center;
  display: inline-block;
  font-family: 'Oswald', sans-serif;
  font-size: xx-large;
  transition: all .3s ease 0s;
	text-decoration: none;

}
 
.nav li a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  text-shadow: 1px 1px 1px black;
  transition: .3s;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.nav li :hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}



video {
  position: relative;
  width: 100%;
  margin: 0;
  bottom: 0;
}

.article {
  position: absolute;
}

h1 {
  position: absolute;
  font-family: 'Oswald', sans-serif;
  top: 50%;
  left: 2%;
  font-size: 5rem;
  text-align: center;
  color: #fff;
  text-shadow:-1px -1px 1px black;
}


  h2 {
    display: block;
    font-size: larger;
  }

p {
    display: block;
    letter-spacing: 1.5px;
    line-height: 2em;
    left: 2%;
    color: white;
    font-family: 'Kosugi', sans-serif;
    font-size: 20px;
  }

/*1.フェードインアニメーションの指定*/
.scrollanime {opacity: 0;} /*一瞬表示されるのを防ぐ*/
.fadeInDown {
    animation-name: fadeInDown;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
@keyframes fadeInDown {
    0% {
        opacity: 0;         
    }
    100% {
    opacity: 1;
    transform: translate(0);
    }
}
.downup {
  transform: translateY(50px);
  animation-delay: 0.5s;
}
.slide-left {transform: translateX(-50px);}

.archives {
  position: relative;
  z-index: 999;
  display: block;
}

/*固定する背景*/
.parallax-bg {
  position: relative;
  box-sizing: border-box;
  color: #FFF;
  font-size: 5rem;
  font-family: 'Oswald', sans-serif;
  display: block;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 10% ;
  background-color: #fff;
}
.parallax-bg {
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
/*各背景の画像*/
.img-bg-01 {
  background-image: url('{{ .Site.BaseURL }}data/background.jpg');
}
.img-bg-02 {
  background-image: url('{{ .Site.BaseURL }}data/background2.jpg');
}
.img-bg-03 {
  background-image: url('{{ .Site.BaseURL }}data/background3.jpg');
}
.img-bg-04 {
  background-image: url('{{ .Site.BaseURL }}data/background4.jpg');
}

.photo-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

li {
  list-style: none;
  flex-basis: 33.3%;
  padding: 1%;

}
  .photo-list-img {
    width: 100%;
    border: solid 1px #fff;
  }

  .photo-list-img a {
    text-decoration: none;

  }
  .caption {/*親div*/
    position: relative;/*相対配置*/
    }
  
  .caption figcaption {
    opacity: 1;
    display: inline-block;
    position: absolute;/*絶対配置*/
    color: rgb(255, 255, 255, 0.3);/*文字は白に*/
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin:0;
    padding:0;
    transition: all .3s ease 0s;

    }

    .fa-youtube:before {
      font-size: 100%;
      text-decoration: none;      
    }
   
.caption figcaption a {
  display: inline-block;
  -webkit-transform: scale(1);
  transform: scale(1);
  color: rgb(255, 255, 255, 0.3);
  transition:  0.1s ease-out;

}

.caption figcaption :hover {
  animation-duration: 1s;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  transition:  0.1s ease-out;

  }

  


  
.caption img {
    width: 100%;
    }




footer {
  text-align: center;
  font-size: small;
}